NEXT_PUBLIC_API_URL=http://localhost:3004/api/v1
NEXT_PUBLIC_TURNSTILE_SITE_KEY=replace_with_turnstile_site_key
NEXT_PUBLIC_TURNSTILE_TEST_TOKEN=replace_only_for_local_dev
NEXT_PUBLIC_WEB_APP_URL=http://localhost:3000
